*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
text-align: center;  
background-image: url('./img/img3.jpg');
background-position: center;
background-size: cover;
min-height: 100vh;
left: 0;
right: 0;
top: 0;
}