@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container{
    color: #FFFFDD;
    font-weight: 500;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.form{
    display:block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    height: 500px;
    width: 850px;
    background-color: rgba(255, 255, 255, 0.088);
    padding: 5px;
    margin-bottom: 120px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.313);
    -webkit-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.24);
}

.divTitles{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: coral;
}

.label{
    width: 145px;
    border: 1px solid b #FFFFDD;
    border-radius: 10px;
    background: white;
    margin: 5px;
    padding: 4px;
    font-size: 15px;
}

.label:hover{
    cursor: pointer;
}

.checkboxs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.gendivs{
    display: flex;
}

.checks{
    display: flex;
    float: left;
    font-size: 15px;
    color: coral;
}


.checks input:hover {
    cursor: pointer;
}

.imagediv{
    color: coral;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imagen{
    width: 700px;
    border: 1px solid b #FFFFDD;
    border-radius: 10px;
    background: none;
    margin: 15px;
    padding: 5px;
    
}

.button {
    
    background-color:#7e00d2;
    border-radius: 15px;
    padding: 7px 0;
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    
    animation: animate 10s linear infinite;
   
}

@keyframes animate {
    0%, 20%, 60%,92% {
        color: #1bc9f5;
        box-shadow: none;
    }
    0%, 10%, 50.1%, 87% {
      color: #38ff63;
      box-shadow: none;
    }
    0%, 15%, 70%, 80%,92% {
      color: #ebfc00;
      box-shadow: none;
  }
  }


.button:hover{
    background-color:steelblue;
    transition: all .3s;
}